{% extends "base.html.twig" %}
{% block title %} {{ title }} {% endblock %}
{% block body %}
<br><br>
<div class="message"><h1> {{message}} </h1></div>
<br><br>
<div id ="map-container">
    <div class="container">
            <div class="row-map">
                <div class="col-md-6">

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                    </div>
                    <div class="card-body-horaires">
                        <h4 class="card-title">  &#9202;Horaires</h4>
                        <p class="card-text"><table class="table">
  <thead>
    <ul>
                      <li> &phone; 04.73.65.39.14</li>
                      <li>  <a href ="{{path('mail')}}"> Par mail </a> </li>
                    </ul>
    <tr>
      <th scope="col">Jours</th>
      <th scope="col">Matin</th>
      <th scope="col">Après-midi</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Lundi</th>
      <td>Fermé</td>
      <td>Fermé</td>
    </tr>
    <tr>
      <th scope="row">Mardi</th>
      <td>09h - 12h</td>
      <td>14h - 19h</td>
    </tr>
    <tr>
      <th scope="row">Mercredi</th>
      <td>09h - 12h</td>
      <td>14h - 19h</td>
    </tr>
    <tr>
      <th scope="row">Jeudi</th>
      <td>09h - 12h</td>
      <td>14h - 19h</td>
    </tr>
    <tr>
      <th scope="row">Vendredi</th>
      <td>09h - 12h</td>
      <td>14h - 19h</td>
    </tr>
    <tr>
      <th scope="row">Samedi</th>
      <td>09h - 12h</td>
      <td>14h - 19h</td>
    </tr>
    <tr>
      <th scope="row">Dimanche</th>
      <td>09h - 12h</td>
      <td>14h - 19h</td>
    </tr>


  </tbody>
</table></p>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Les horaires sont susceptibles de varier</small>
                </div>
            </div>
        </div>
    </div>
</div>
                </div>

                <div class="col-md-6">

                    <div id="map"></div>

                </div>

                </div>

            </div>
        </div>

    </div>
<br>


{% endblock %}
